.get-in-touch-container {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #f7f9fc; 
  overflow: hidden;
  display: flex;
  align-items: center;
}


.text-section {
  z-index: 2;
  position: relative;
}

.page-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 0.5rem;
}

.breadcrumb-nav {
  font-size: 0.9rem;
  font-weight: 600;
  color: #555;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.breadcrumb-arrow {
  color: #999;
  font-weight: bold;
}

.company-name {
  color: #333;
}

.page-name {
  color: #777;
}

.shape-container {
  position: absolute;
  top: 0;
  right: 25%; 
  bottom: 0;
  width: 400px; 
  pointer-events: none;
}

.shape-blue {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background-color: #0f1d5e; 
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 80% 100%, 0% 100%);
  transform: skewX(-30deg); 

}



.geometric-shapes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35%;
  width: 300px;
  height: 100%;
}

.blue-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #001f5f; 
  clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%); 
 
  z-index: 1;
}



.arrow-blue {
    position: absolute;
    top: 0;
    left: 40%;
    width: 300px; 
    height: 50%;
    background-color: #0d1e57;
    transform: skewX(-40deg);
    transform-origin: bottom left;
    z-index: 1;
}



.decoration-arrow-top {
    position: absolute;
    top: 0;
    left: 45%; 
    width: 200px;
    height: 50%;
    background-color: #0b1c61; 
    transform: skewX(-45deg);
    z-index: 1;
}

.decoration-arrow-bottom {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 200px;
    height: 50%;
    background-color: #5cb85c; 
    transform: skewX(45deg);
    z-index: 1;
}

.decoration-triangle {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid #7a88a8; 
    z-index: 2;
    display: none;
}


.support-image-container {
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 90%;
    z-index: 2;
}

.support-image {
    height: 100%;
    object-fit: contain;
}


.bg-diagonal {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: #f4f4f4; 
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 0;
}
