
.head-section-container {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #f7f9fc;
    overflow: hidden;
    display: flex;
    align-items: center;
}


.text-section {
    z-index: 2;
    position: relative;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.5rem;
}

.breadcrumb-nav {
    font-size: 0.9rem;
    font-weight: 600;
    color: #555;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.breadcrumb-arrow {
    color: #999;
    font-weight: bold;
}

.company-name {
    color: #333;
}

.page-name {
    color: #777;
}


.shape-container {
    position: absolute;
    top: 0;
    right: 25%;
    bottom: 0;
    width: 400px;
    pointer-events: none;
}


.geometric-shapes {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;
    width: 300px;
    height: 100%;
}



.decoration-arrow-top {
    position: absolute;
    top: 0;
    left: 45%;
    width: 200px;
    height: 50%;
    background-color: #0b1c61;
    transform: skewX(-45deg);
    z-index: 1;
}

.decoration-arrow-bottom {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 200px;
    height: 50%;
    background-color: #5cb85c;
    transform: skewX(45deg);
    z-index: 1;
}

.support-image-container {
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 75%;
    z-index: 0;
}

.support-image {
    height: 100%;
    object-fit: contain;
}

.bg-diagonal {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: #f4f4f4;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 0;
}