.contact-banner {
  background: #f2f2f2;
  min-height: 350px;
}

.contact-banner::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: #162a7c;
  transform: rotate(45deg);
  top: -200px;
  left: 30%;
}

.contact-banner::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: #63b545;
  transform: rotate(45deg);
  bottom: -200px;
  left: 35%;
}
